<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>QUIZ Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
	<link rel="stylesheet" href="/static/common.css">
	<link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	
	<ul class="scores"></ul>
	
	<template id="team-template">
		<li class="team" id="">
			<div class="team-infos">
				<div class="team-name"></div>
				<div class="team-score"><input data-team="" type="number"></div>
			</div>
			<div class="team-actions">
				<button data-team="" data-inc="1">+ 1</button>
				<button data-team="" data-inc="2">+ 2</button>
				<button data-team="" data-inc="-1">- 1</button>
			</div>
		</li>
	</template>
	
	<template id="team_edit_fields-template">
		<div class="team_edit-infos team_edit">
			<div class="team_edit-name"><input data-team="" type="text"></div>
			<div class="team_edit-delete"><button data-team=""></button></div>
		</div>
		<div class="team_edit-color team_edit">
			<button data-team="" data-color="#62b529"></button>
			<button data-team="" data-color="#ed1d24"></button>
			<button data-team="" data-color="#e8ae00"></button>
			<button data-team="" data-color="#1782e1"></button>
			<input data-team="" type="color">
		</div>
	</template>
	
	<template id="team_edit_add-template">
		<li class="team_edit">
			<button class="team_edit-add">Ajouter une équipe</button>
		</li>
	</template>
	
	<template id="options-template">
		<li class="scores-options">
			<button class="reset-button">Remise à zéro…</button>
			<label class="setting" id="option-scroll_to_active_team">
				<input type="checkbox" id="option-scroll_to_active_team-input" checked>
				<span class="setting-switch"></span>
				<span class="setting-label">Défiler à l’équipe active</span>
			</label>
			<label class="setting" id="option-edit_teams">
				<input type="checkbox" id="option-edit_teams-input">
				<span class="setting-switch"></span>
				<span class="setting-label">Modifier les équipes</span>
			</label>
		</li>
	</template>
	
	<div class="riddles_pane">
		<ul class="riddles"></ul>
	</div>
	
	<template id="riddle-template">
		<li class="riddle" id="" data-riddle="">
			<span class="riddle-type"></span><span class="riddle-count"></span>
			<span class="riddle-answer"></span>
			<span class="riddle-answer_subtitle"></span>
		</li>
	</template>
	
	<div class="helper">
		
		<ul class="helper-list" data-current-riddle-type="">
			<li class="helper-entry"><kbd>espace</kbd> Lecture / Pause / Buzzer suivant <span class="helper-warning" title="Cliquez dans la fenêtre du player ou appuyez sur une touche pour activer la vidéo">⚠️</span></li>
			<li class="helper-entry"><kbd>↩</kbd> Quiz suivant (transition)</li>
			<li class="helper-entry"><kbd class="--no_space">←</kbd> / <kbd>→</kbd> Quiz précédent / suivant rapidement et lecture</li>
			<li class="helper-entry"><kbd>esc</kbd> Vider la liste des buzzers</li>
			<li class="helper-entry" data-applies-to="image"><kbd>A</kbd> Afficher l'image réponse</li>
			<li class="helper-entry"><kbd>S</kbd> Afficher les scores</li>
			<li class="helper-entry"><kbd>Q</kbd> Afficher le QR code (buzzers tactiles)</li>
		</ul>
		
		<div class="buzzers_controler">
			<label class="setting --button" id="option-buzzers_enabled">
				<input type="checkbox" id="option-buzzers_enabled-input" checked>
				<span class="setting-switch"></span>
				<span class="setting-label">
					<span>Buzzers</span>
					<span class="setting-state"><span>Activés</span><span>Désactivés</span></span>
				</span>
			</label>
		</div>
		
	</div>
	
	<style>.team_color_0{color:#62b529;}.team_color_1{color:#ed1d24;}.team_color_2{color:#e8ae00;}.team_color_3{color:#1782e1;}</style>
	
	<script src="/static/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/admin.js"></script>
</body>
</html>