<!doctype html>
<html lang="<%= locale %>">
<head>
	<meta charset="utf-8">
	<title><%= t('quiz') %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="/static/site.webmanifest">
	<meta name="theme-color" content="#222">
	<link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/icons/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/static/icons/icon-180.png">
	<link rel="stylesheet" href="/static/common.css">
	<link rel="stylesheet" href="/static/player.css">
</head>
<body>
	
	<div class="player">
		
		<div class="video">
			<video></video>
		</div>
		
		<div class="audio">
			<div class="audio-bars"><svg xmlns="http://www.w3.org/2000/svg"></svg></div>
			<audio></audio>
		</div>
		
		<div class="image">
			<img>
		</div>
		
	</div>
	
	<ul class="scoreboard"></ul>
	
	<div class="buzzers"></div>
	
	<div class="user_activation_warning">⚠️</div>
	
	<script src="/static/jquery.min.js"></script>
	<script src="/socket.io/socket.io.min.js"></script>
	<script src="/static/player.js"></script>
</body>
</html>