/* 
 * @group LAYOUT
 */

html {
	height: 100%;
	color: #fff;
	font: 1em/1.4 Solway, Ubuntu, sans-serif;
}

html, body {
	width: 100%;
}

body {
	background-color: #222;
}

@media (min-width: 600px) {

	body {
		display: flex;
		overflow: hidden;
		height: 100%;
	}

	.teams_pane {
		width: 42%;
	}
	
	.panes_col {
		display: flex;
		flex-direction: column;
		width: 58%;
	}
	
	.riddles_pane {
		flex: 1 0;
		min-height: 12rem;
	}
	
	.teams_pane,
	.controls_pane {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

}

@media (max-width: 599px) {
	
	.riddles_pane {
		height: 40vh;
	}

}

/* @end LAYOUT */

/*
 * @group COMMON
 */

.button {
	text-align: left;
	background-color: #585858;
	border: 1px solid #686868;
	padding: 0.3em 0.6em 0.4em;
	border-radius: 0.3em;
	transition: opacity 150ms;
}

	.button.--primary {
		color: #444;
		background-color: #f4f4f4;
	}
	
	.button:disabled {
		opacity: 0.3;
	}
	
	.button svg {
		pointer-events: none;
	}

/* @end COMMON */

/* 
 * @group TEAMS PANE
 */

.teams_pane {
	padding: 20px;
	transition: background-color .5s;
}

	.teams_pane.--edit_teams {
		background-color: #042651;
	}

.teams {
	
}
	
	.team {
		padding: 0.4rem 1rem 0.9rem;
		border-radius: 10px;
		background-color: currentColor;
		margin-bottom: 20px;
		outline: 0 solid #666;
		transition: box-shadow 250ms ease;
	}
	
		.teams.temp_disabled_buzzer .team {
			box-shadow: 0 0 0 2px #666;
		}
		
		.team.disabled_buzzer {
			box-shadow: 0 0 0 6px #666;
		}
		
		.teams.all_disabled_buzzer .team {
			box-shadow: 0 0 4px 2px #f00;
		}
		
		.team.queued_buzzer {
			box-shadow: 0 0 0 2px #fff;
		}
		
		.team.current_buzzer {
			box-shadow: 0 0 0 6px #fff;
		}
		
		.team-infos,
		.team_edit-infos {
			display: flex;
			width: 100%;
			color: #fff;
			font-size: 2em;
		}
		
		.team-name {
			padding-right: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		.team-name,
		.team_edit-name {
			flex-grow: 1;
		}
		
		.team-score,
		.team_edit-delete {
			flex-shrink: 0;
		}
		
			.team-score input,
			.team_edit-delete {
				width: 3em;
			}
		
			.team-score input {
				border: none;
				padding: 0;
				background-color: transparent;
				text-align: right;
				-moz-appearance: textfield;
			}
			input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
			
			.team_edit-name input:focus {
				box-shadow: 0 0 0 2px currentColor;
			}
		
		.team-actions,
		.team_edit-color {
			display: flex;
			gap: 15px;
			margin-top: 15px;
		}

			@supports (-webkit-touch-callout: none) and (not (translate: none)) { /* Targetting iOS 14.4, falsely supporting flexbox gap - https://ppuzio.medium.com/flexbox-gap-workaround-for-safari-on-ios-14-13-and-lower-ffcae589eb69 */
				.team-actions .team-incs:not(:last-child):not(.--spacer) {
					gap: 0;
					margin-right: 15px;
				}
			}
			
			.team-incs,
			.team_edit-color .button,
			.team_edit-color input {
				height: 1.7em;
				font-size: 1.5em;
				background-color: #fff;
				padding: 0.15em 0.2em;
			}
			
			.team-incs {
				width: 2.6em;
			}
			
			.team .button {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			.team .button,
			.team .team_edit-color input {
				border: 0 none;
			}
			
			.team .button,
			.team input {
				border-radius: 0.2em;
			}

			.team-incs.--spacer {margin-right: auto;}
		
		.teams_pane:not(.--edit_teams) .team_edit,
		.teams_pane.--edit_teams .team-infos,
		.teams_pane.--edit_teams .team-actions {display: none;}
		
		.team_edit-infos {
			
		}
		
			.team_edit-name {
				
			}
			
				.team_edit-name input {
					width: calc(100% + 8px);
					background: none;
					border: 2px solid;
					padding: 0 6px;
					margin-left: -8px;
				}
			
			.team_edit-delete {
				align-items: center;
			}
			
				.team_edit-delete .button {
					margin-left: auto;
					width: 1.2em;
					height: 1.2em;
					margin-top: 0.1em;
					padding: 0;
					background-color: rgba(255, 255, 255, 0.7);
				}
				
				.team_edit-delete .button svg {
					fill: #a63a3a;
				}
		
		.team_edit-color {
			
		}
		
			.team_edit-color .button,
			.team_edit-color input {
				width: 1.7em;
			}
			
			.team_edit-color .button {
				
			}
			
				.team_edit-color .button::after {
					content: "";
					display: block;
					background-color: currentColor;
					width: 1em;
					height: 1em;
					border-radius: 1em;
				}
			
			.team_edit-color input {
				box-shadow: none;
			}
		
		.settings-meta_row {
			height: 0; /* use existing space and prevent underneath elements to move */
			position: relative;
		}
		
			.settings-meta_row .button {
				position: absolute;
			}
	
	@media (max-width: 899px) {
		
		.team-infos,
		.team_edit-infos {
			font-size: 1.8em;
		}
		
		.team-incs,
		.team_edit-color .button,
		.team_edit-color input {
			font-size: 1.3em;
		}
		
	}
	
	@media (min-width: 900px) {
		.settings-meta_row {
			font-size: 1.1em;
		}
	}
	
	@media (max-width: 799px) {
		
		.team {
			padding: 0.5rem 1rem 1rem;
		}
		
		.team-infos,
		.team_edit-infos {
			font-size: 1.4em;
		}
		
		.team-incs,
		.team_edit-color .button,
		.team_edit-color input {
			font-size: 1.1em;
		}
		
	}
	
	@media (max-width: 599px) {
		
		.team-incs,
		.team_edit-color .button,
		.team_edit-color input {
			font-size: 1.2em;
		}
		
	}
	
.settings {
	margin-top: 80px;
}

	.settings-row:not(:last-child) {
		margin-bottom: 5px;
	}

	.setting {
		display: inline-flex;
		position: relative;
		align-items: center;
	}
	
		.setting,
		.control {
			-webkit-user-select: none;
			   -moz-user-select: none;
				-ms-user-select: none;
					user-select: none;
		}
		
		.setting-control {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}
		
		.setting-switch {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			width: 1.3em;
			height: 0.8em;
			padding-left: 0.08em;
			border-radius: 1em;
			background-color: transparent;
			border: 0.1em solid #bcbcbc;
			transition-property: background-color, border-color;
		}
		
			.setting-switch,
			.setting-switch::before {
				transition-duration: 300ms;
			}
			
			.setting-switch::before {
				content: "";
				display: block;
				width: 0.45em;
				height: 0.45em;
				background-color: #bcbcbc;
				border-radius: 50%;
				transition-property: transform, background-color;
			}
			
			.setting-control:checked ~ .setting-switch,
			.setting-control:checked ~ * .setting-switch {
				background-color: #f5f5f5;
				border-color: #f5f5f5;
			}
			
				.setting-control:checked ~ .setting-switch::before,
				.setting-control:checked ~ * .setting-switch::before {
					background-color: #246fce;
					transform: translateX(0.5em) scale(1.1);
				}
			
			.setting .setting-switch {
				margin-right: 0.5em;
				font-size: 1.12em;
			}
			
			.setting-control:checked ~ .--setting-enabled-hide,
			.setting-control:checked ~ * .--setting-enabled-hide,
			.setting-control:not(:checked) ~ .--setting-enabled-show,
			.setting-control:not(:checked) ~ * .--setting-enabled-show {
				display: none;
			}
		
		.setting-label {
			padding: 4px 0;
		}
		
		.settings-row .button {
			margin-top: 6px;
		}
		
		.settings-row:not(:last-child) .button {
			margin-bottom: 2px;
		}
	
	@media (min-width: 900px) {
		.settings {
			font-size: 1.1em;
		}
	}
	
	@media (max-width: 799px) {
		
		.settings {
			margin-top: 70px;
		}
		
	}

/* @end TEAMS PANE */

/* 
 * @group RIDDLES LIST
 */
 
 .riddles_pane {
	 position: relative;
 }
 
	.riddles_pane::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100px;
		background: linear-gradient(to bottom,rgba(51, 51, 51, 0),#333);
		pointer-events: none;
	}

.riddles {
	height: 100%;
	padding: 20px 30px;
	background-color: #333;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

	.riddle {
		margin-bottom: 50px;
		transition: opacity 0.2s;
		cursor: pointer;
	}

	.riddle-type {
		display: inline-block;
		color: #333;
		background-color: #fff;
		padding: 1px 8px 2px;
		margin-bottom: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.riddle-count {
		float: right;
		font-size: 1em;
	}

	.riddle-answer,
	.riddle-answer_subtitle {
		display: block;
	}
	
	.riddle-answer {
		font-size: 1.8em;
		line-height: 1.3;
	}

	.riddle-answer_subtitle {
		font-size: 1.2em;
		line-height: 1.3;
		margin-top: 6px;
		transition: color 0.2s;
	}

	.riddle:not(.current) {
		opacity: 0.2;
	}
	.riddle.requested {
		opacity: 0.4;
	}
	.riddle.current .riddle-answer_subtitle {
		color: #aaa;
	}

@media (max-width: 800px) {

	.riddles {
		padding: 20px;
	}

		.riddle {
			font-size: 0.8em;
			margin-bottom: 40px;
		}
	
}

/* @end RIDDLES LIST */

/* 
 * @group CONTROLS
 */

.controls_pane {
	padding: 15px;
	background-color: #444;
}

.player_activation_notice {
	font-size: 0.85rem;
	text-align: center;
	overflow: hidden;
	max-height: 0;
	transition-property: margin, max-height;
	transition-duration: 250ms;
}

	.player_activation_notice.--enabled {
		margin-bottom: 1rem;
		max-height: calc(1.4em * 2);
	}

.controls {
	display: flex;
	flex-direction: column;
}

	.controls,
	.controls-group {
		gap: 15px;
	}
	
	.controls-group {
		display: flex;
	}
	
		.controls-group.--labelled {
			flex-direction: column;
			gap: 0;
		}
		
		@supports (-webkit-touch-callout: none) and (not (translate: none)) { /* Targetting iOS 14.4, falsely supporting flexbox gap - https://ppuzio.medium.com/flexbox-gap-workaround-for-safari-on-ios-14-13-and-lower-ffcae589eb69 */
			.controls, .controls-group {gap: 0;}
			
			@media (min-width: 500px) {
				.controls > .controls-group:not(:last-child) {
					margin-bottom: 15px;
				}
				
				.controls-group > .button:not(:last-child),
				.controls-group.--labelled:not(:last-child) {
					margin-right: 15px;
				}
			}
			
			@media (max-width: 499px) {
				.controls > .controls-group > .button,
				.controls-group.--labelled {
					margin-bottom: 15px;
				}
				.controls > .controls-group:last-child .button:not(:nth-child(2)) {
					margin-bottom: 0;
				}
				
				.controls-group > .button:first-child {
					margin-right: 15px;
				}
			}
			
		}
		
		.controls-group-label {
			font-size: 0.8em;
			color: #aaa;
			padding: 0 4px;
			margin-bottom: 6px;
		}
	
	.controls-group,
	.control {
		flex: 0 1 100%;
	}
	
	.control {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		transition-property: box-shadow, border-color, opacity;
		transition-duration: 150ms;
	}

		.control-label {
			display: flex;
			align-items: center;
		}
		
			.control-label-icon {
				width: 1em;
				height: 1em;
				flex-shrink: 0;
				margin-right: 0.3em;
				fill: currentColor;
			}
			
			.control-label-text {
				
			}
		
		.control-switch {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-grow: 1;
			padding-top: 0.2em;
			min-width: 0; /* Force flex to shrink when text can overflow */
		}
		
			.control-switch-label {
				display: inline-block;
				font-size: 0.55em;
				text-transform: uppercase;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-left: 0.5em;
			}
			
				.control-switch-label.--blue {color: #bcd8ff;}
				.control-switch-label.--red {color: #ffb9b9;}
			
			.control-switch .setting-switch {
				margin-left: 0.2em;
			}
		
		.control-desc {
			display: block;
			flex: 1 0; /* Aligns label to the top if there's a desccription */
			font-size: 0.75em;
			line-height: 1.2;
			margin-top: 0.2em;
		}
		
		.control-short {
			display: block;
			position: absolute;
			right: 5px;
			bottom: 5px;
			margin-left: 0.3em;
			padding: 0.1em 0.4em 0.3em;
			font: 0.8em monospace;
			line-height: 1;
			border: 1px solid #d1d5da;
			border-radius: 0.25em;
			box-shadow: inset 0 -1px 0 #d1d5da;
		}
		
		.control.--highlighted {
			border-color: #d6d6d6;
			box-shadow: 0 0 0 0.3em #d6d6d6;
		}
		
		.control.--primary {
			border-color: #f4f4f4;
		}
		
		.control:not([data-display-alt="true"]) .--display_alt-show,
		.control[data-display-alt="true"] .--display_alt-hide {display: none;}
	
	@media (min-width: 600px) and (max-width: 899px) {
		
		.control-label-icon {
			display: none;
		}
		
	}
	
	@media (min-width: 600px) {
		
		.controls > .controls-group {
			min-height: 4.8em;
		}
		
		.control.--primary,
		.control.--wide {
			flex: 0 0 38%;
			width: 38%;
		}
		
	}
	
	@media (min-width: 500px) {
		
		.control-label {
			font-size: 1.1em;
		}
		
	}
	
	@media (max-width: 899px) {
		.controls-group-label {
			font-size: 0.7em;
		}
	}
	
	@media (max-width: 499px) {
		
		.controls-group {
			flex-wrap: wrap;
		}
		
		.controls-group > .controls-group {
			flex-grow: 1;
			flex-wrap: nowrap;
			flex-direction: row;
		}
		
		.controls > .controls-group > .control:not(.--primary):not(.--wide) {
			flex-basis: calc(50% - 15px / 2);
		}
		
		.control.--primary,
		.control.--wide {
			order: -1;
		}
		
		.controls-group-label {
			max-width: 10em;
			padding-right: 0.5em;
		}
		
		.control-short {
			display: none;
		}
		
	}

/* @end CONTROLS */
